html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Verdana;
}

#applicationBox {
	height: 100%;
	margin: 0;
	padding: 0;
}

.columns {
	height: calc(100% - 160px);
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}

#chatBox {
	float: left;
	width: 80%;
	margin: 0;
	height: 100%;
	padding: 0;
}

#peerNodeBox {
	float: left;
	width: 20%;
	margin: 0;
	height: 100%;
	padding: 0;
}

#peerBox, #nodeBox {
	height: 50%;
}

#nodeBox .button {
	font-family: monospace;
}

#peerBox span, #tabs li span {
	color: #E00;
	cursor: pointer;
}

#inputBox {
	width: 98%;
	margin: 10px 1%;
	height: 100px;
	padding: 0;
}

.clear {
	clear: both;
}

.border {
	border: 2px solid #def;
	border-radius: 10px;
	width: 99%;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 20px;
}

.border .left {
	margin: 0;
	margin-right: 1%;
}

.border .right {
	margin: 0;
	margin-left: 1%;
}

			
#inputBox .border {
	width: 100%;
	margin: 0;
	height: 100%;
}

input[type=text], input[type=submit], button, .button {
	border: none;
	border-radius: 10px;
	padding: 6px 8px;
	color: #333333;
	background: #def;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}

input[type=text]:disabled, input[type=submit]:disabled, button:disabled {
	color: #999999;
	background: #eee;
}

.title {
	font-weight: bold;
	margin: 0;
	padding-left: 25px;
	padding-top: 10px;
	height: 30px;
}

.title span {
	font-family: monospace;
	font-size: 11pt;
}

button, .button {
	font-weight: bold;
}

.button {
	padding: 0 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 20px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2929D6;
}

#tabs {
	height: 96%;
}

#tabs > div {
	height: 85%;
}

#tabs > div {
	overflow-y: scroll;
}

#tabs > div div {
	font-size: 11pt;
}

#tabs div span {
	font-weight: bold;
	font-family: monospace;
}

#routeContent span {
	font-weight: bold;
	cursor: pointer;
}

#tabs-search div {
	padding: 5px 0;
}

#tabs-search div:nth-child(odd){
	background-color: #f0f0f0;
}

#loading {
	display: none;
	vertical-align: middle;
}

#chatBox img {
	vertical-align: middle;
}

.myName {
	color: #08c;
}