html {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	height: 95%;
	width: 98%;
	margin: 1%;
	padding: 0;
	font-family: Helvetica, Verdana;
}

#applicationBox {
	height: 100%;
}

.columns {
	height: 80%;
	width: 100%;
}

#chatBox {
	float: left;
	width: 80%;
	margin: 0;
	height: 100%;
	padding: 0;
}

#peerNodeBox {
	float: left;
	width: 20%;
	margin: 0;
	height: 100%;
	padding: 0;
}

#peerBox, #nodeBox {
	height: 50%;
}

#peerBox span, #tabs li span {
	color: #E00;
	cursor: pointer;
}

#inputBox {
	width: 100%;
	margin: 0;
	margin-top: 1%;
	padding: 0;
}

.clear {
	clear: both;
}

.border {
	border: 2px solid #def;
	border-radius: 10px;
	width: 99%;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 20px;
}

.border .left {
	margin: 0;
	margin-right: 1%;
}

.border .right {
	margin: 0;
	margin-left: 1%;
}

			
#inputBox .border {
	width: 100%;
	margin: 0;
	height: 19%;
}

input[type=text], button, .button {
	border: none;
	border-radius: 10px;
	padding: 6px 8px;
	color: #333333;
	background: #def;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}

.title {
	font-weight: bold;
	margin-left: 1%;
}

.title span {
	font-weight: normal;
}

button, .button {
	font-weight: bold;
}

.button {
	padding: 0 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 20px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2929D6;
}

#tabs {
	height: 96%;
}

#tabs > div {
	height: 90%;
}

#tabs > div {
	overflow-y: scroll;
}

#tabs div span {
	font-weight: bold;
}

#routeContent span {
	font-weight: bold;
	cursor: pointer;
}
